<a href="https://colab.research.google.com/github/JustMichele/Senai-Programa-o-em-Python/blob/main/Exercicios_Aula_5_Senai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nível Fácil

1.

In [ ]:
#a
def frase():
  print('Olá')

frase()

Olá

In [ ]:
#b
def dar_bom_dia(nome):
  print('Bom dia', nome)

dar_bom_dia('Michele')

Bom dia Michele

In [ ]:
#c
def multiplicacao(v1):
  print(v1*2)

multiplicacao(2)

4

In [ ]:
#d
def soma(v1,v2):
  print(v1+v2)

soma(2,4)

6

In [ ]:
#e
def subtracao(v1,v2):
  return (v1-v2)

resultado = subtracao(3,2)
print(resultado)

1

In [ ]:
#f
def unindo_frases(f1,f2):
  return str(f1 + f2)

uniao = unindo_frases('Boa ', 'Noite')
print(uniao)

Boa Noite

In [ ]:
#g
def par_ou_impar(num1):
  if num1 % 2 == 0:
    return True
  else:
    return False
  
resultado = par_ou_impar(8)
print(resultado)

True

2.

In [ ]:
#a
def quadrado(num1):
  return (num1**2)

resultado = quadrado(3)
print(resultado)

9

In [ ]:
#b
def qual_dos_valores_maior(num1,num2,num3):
  maior = num1
  if num2 > maior:
    maior = num2
  if num3 > maior:
    maior = num3
    return maior

num1 = int(input('Digite o 1 número: '))
num2 = int(input('Digite o 2 número: '))
num3 = int(input('Digite o 3 número: '))

print('O maior número é ', qual_dos_valores_maior(num1,num2,num3))

Digite o 1 número: 5
Digite o 2 número: 8
Digite o 3 número: 9
O maior número é  9

In [ ]:
#c

def dimensao_do_retangulo(base,altura):
  base, altura = -1, -1
  while base <= 0:
    base = int(input('Digite o valor da base: '))
    if base <= 0:
      print('Valor inválido')

  while altura <= 0:
    altura = int(input('Digite o valor da altura: '))
    if altura <= 0:
      print('Valor inválido')

    area = base*altura
    return area

print('O resultado é ', dimensao_do_retangulo(0,1))

Digite o valor da base: 4
Digite o valor da altura: 5
O resultado é  20

In [ ]:
#d
def lista(vetA):
  for x in vetA:
    print(x)

vetA = [1,35,2,5,6]
lista(vetA)

1
35
2
5
6

## Nível Médio

1.

In [ ]:
#a
def lista_crescente(n1,n2,n3,n4,n5):
  lista = [n1,n2,n3,n4,n5]
  lista.sort()
  return lista

print(lista_crescente(23,43,56,21,64))

[21, 23, 43, 56, 64]

2.

In [ ]:
#b
horas = int(input('Digite o número de horas: '))
salario_hora = int(input('Digite o salario por horas: '))

def calcular_salario(horas, salario_hora):
  if horas > 160:
    salario = 160*salario_hora + (horas-160)*salario_hora*1.5
  else:
    salario = horas*salario_hora
  return salario

sal = calcular_salario(horas, salario_hora)
print('O valor total do salário será R$', sal)

Digite o número de horas: 124
Digite o salario por horas: 45
O valor total do salário será R$ 5580

## Nível Avançado

In [ ]:
#b
import math
def e_quadrado(n):
  raiz = math.sqrt(n)
  if raiz == int(raiz):
    return True
  return False

print(e_quadrado(5))

False

In [ ]:
#e
def concatena_vetores(vet1, vet2):
  vet1.extend(vet2)
  return vet1

v1 = [1,23,4]
v2 = [2,4,5]

print(concatena_vetores(v1, vet2))

[1, 23, 4, 2, 4, 5]